{% extends "base.html" %}

{% block extra_style %}
    <style>
        .w-120px {
            width: 125px !important;
        }
        .h-40px {
            height: 34px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 style="display:inline;">
        {{ userDetail.username }} 
        
    </h1>
        フォロ-:{{ following_num }}
        フォロワー:<div style="display:inline;" class="num">{{ followed_num }}</div>
    <p>
        {% if user.id == userDetail.id %}
            @{{ userDetail.usertag }}
        {% else %}
            <div class="following">
                @{{ userDetail.usertag }} 
                {% if following %}
                    --フォロー中
                {% endif %}
            </div>
            <br>
            <button type="button" class="btn {{ btn_class }} w-120px h-40px rounded-pill" id="ajax_follow">
                <div class="result">
                    {% if following %}
                        フォロー解除
                    {% elif userDetail.id != user.id %}
                        フォロー
                    {% endif %}
                </div>
            </button>
            <br>
            <br>
        {% endif %}
    </p>
    <p>
        {{ userDetail.created_at }}に登録
    </p>
    {% for post in posts reversed %}
        <a href='{% url "sns:post" post.id %}'>
            {{ post.title }}
        </a> -
        {{ post.created_at }}
        <br>
        <br>
    {% endfor %}
{% endblock %}

{% block extra_ajax %}
    $('#ajax_follow').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            'url': '{% url "accounts:ajax_follow" %}',
            'type': 'POST',
            'data': {
                'followed_user_id': '{{ userDetail.id }}',
            },
            'dataType': 'json'
        })
        .done(function(response){
            if (response.method == "follow"){
                $('.result').html('フォロー解除');
                $('.following').html('@{{ userDetail.usertag }} --フォロー中');
                $('#ajax_follow').removeClass('btn-primary');
                $('#ajax_follow').addClass('btn-warning');
            }else{
                $('.result').html('フォロー');
                $('.following').html('@{{ userDetail.usertag }}');
                $('#ajax_follow').addClass('btn-primary');
                $('#ajax_follow').removeClass('btn-warning');
            }
            $('.num').html(response.num);
        });
    });
{% endblock %}