{% extends "base.html" %}

{% block extra_style %}
    <style>
        .w-120px {
            width: 120px !important;
        }
        .h-40px {
            height: 40px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>
        {{ userDetail.username }} 
    </h1>
    <p>
        @{{ userDetail.usertag }} --
        {% if following %}
            フォロー中
            <button type="button" class="btn btn-warning w-120px h-40px" 
                onclick="location.href='{% url 'accounts:unfollow' userDetail.id %}'"> フォロー解除</button>
            <br>
            <br>    
        {% elif userDetail.id != user.id %}
            <button type="button" class="btn btn-primary w-120px h-40px" 
                onclick="location.href='{% url 'accounts:follow' userDetail.id %}'"> フォロー</button>
            <br>
            <br>
        {% endif %}
    </p>
    <p>
        {{ userDetail.created_at }}に登録
    </p>
    {% for post in posts reversed %}
        <a href='{% url "sns:post" post.id %}'>
            {{ post.title }}
        </a> -
        {{ post.created_at }}
        <br>
        <br>
    {% endfor %}
{% endblock %}