{% extends "base.html" %}

{% block extra_style %}
    <style>
        .detail {
            margin-left:1rem;
        }
        .title-link, .title-link:hover{
            color:white;
        }
        .good, .good:focus, .good:hover {
            border: none;
            outline: none;
            background: none;
            display: inline;
        }
        .w-60px {
                width: 60px !important;
        }
        .w-150px {
            width: 100% !important;
        }
        .h-50px{
            height: 50px !important;
        }
        .h-60px {
            height: 60px !important;
        }
        .on-a{
            position: relative;
            z-index: 1;
        }
        .w-120px {
            width: 125px !important;
        }
        .h-40px {
            height: 34px !important;
        }
        .notlink{
            text-decoration:none !important;
            color:black !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row-1" style="position: sticky;top: 55px;z-index:2;background-color:#fff;">
        <br>
        <h1 style="display:inline;">
            {{ userDetail.username }} 
            
        </h1>
        <a href="{% url 'accounts:follower' userDetail.id 'following' %}" class="notlink">
            フォロ-:{{ following_num }}
        </a>
        <a href="{% url 'accounts:follower' userDetail.id 'followed' %}" class="notlink">
            フォロワー:<div style="display:inline;" class="num">{{ followed_num }}</div>
        </a>
        <p>
            {% if user.id == userDetail.id %}
                @{{ userDetail.usertag }}
            {% else %}
                <div class="following">
                    @{{ userDetail.usertag }} 
                    {% if following %}
                        --フォロー中
                    {% endif %}
                </div>
                <br>
                <button type="button" class="btn {{ btn_class }} w-120px h-40px rounded-pill" id="ajax_follow">
                    <div class="result">
                        {% if following %}
                            フォロー解除
                        {% elif userDetail.id != user.id %}
                            フォロー
                        {% endif %}
                    </div>
                </button>
                <br>
                <br>
            {% endif %}
        </p>
        <p>
            {{ userDetail.created_at }}に登録
        </p>
        <hr width="100%" color="#0" style="height:4px;">
        <br>
    </div>
    {% for post in posts reversed %}
        <div class="card w-150px center-block" style="position:relative;">
            <a href="{% url 'sns:post' post.pk %}" style="position:absolute;inset:0;">
                <div class="card-header bg-secondary h-50px">
                    <h5 style="text-align:left;float:left;">
                        <a href='{% url "sns:post" post.pk %}' class="on-a title-link">
                            {{ post.title }} 
                        </a>
                    </h5>
                    <p style="text-align:right">
                        <font color="white">
                            {{ post.created_at }}
                        </font>
                    </p>
                </div>
                <div class="card-body detail">
                    <p class="card-text">
                        {{ post.detail | linebreaks }}
                    </p>
                </div>
                <div class="card-footer h-50px text-right">
                    {% if request.user.is_anonymous %}
                        <button onClick="location.href='{% url 'sns:good' post.id 1 %}'" class="good on-a">♡</button>
                    {% else %}
                        <button onClick="on_good('{{ post.id }}')" class="good on-a" >
                            <div id="{{ post.id }}" style="display:inline;">
                                {% if post.id in goods %}
                                    <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </div>
                        </button>
                    {% endif %}
                    <font size="4">
                        <div id="num_{{ post.id }}" style="display:inline;">:{{ post.good_num }}イイね</div> 
                    </font>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_ajax %}
    $('#ajax_follow').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            'url': '{% url "accounts:ajax_follow" %}',
            'type': 'POST',
            'data': {
                'followed_user_id': '{{ userDetail.id }}',
            },
            'dataType': 'json',
            'headers': {
                'X-CSRF-TOKEN':$('meta[name="csrf-token"]').attr('content'),
            }
        })
        .done(function(response){
            if (response.method == "follow"){
                $('.result').html('フォロー解除');
                $('.following').html('@{{ userDetail.usertag }} --フォロー中');
                $('#ajax_follow').removeClass('btn-primary');
                $('#ajax_follow').addClass('btn-warning');
            }else{
                $('.result').html('フォロー');
                $('.following').html('@{{ userDetail.usertag }}');
                $('#ajax_follow').addClass('btn-primary');
                $('#ajax_follow').removeClass('btn-warning');
            }
            $('.num').html(response.num);
        });
    });
{% endblock %}

{% block extrajs %}
<script type="text/javascript">

let id;

function on_good(post_id){
    console.log(post_id);
    const url = '{% url "sns:ajaxgood" %}';
    fetch(url, {
        method: 'POST',
        body: 'post_id=' + String(post_id),
        headers:{
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': '{{ csrf_token }}',
        },
    }).then(response  => {
        return response.json();
    }).then(response => {
        document.getElementById('num_' + String(post_id)).textContent = ":" + String(response.num) + "イイね";
        if(response.method == "create"){
            document.getElementById(String(post_id)).innerHTML = '<i class="fa-solid fa-heart fa-beat" style="color: #ff0000;"></i>';
            id = window.setTimeout(function(){
                document.getElementById(String(post_id)).innerHTML = '<i class="fa-solid fa-heart" style="color: #ff0000;"></i>';
            }, 1000);
        }else{
            document.getElementById(String(post_id)).innerHTML = '<i class="fa-solid fa-heart"></i>';
            window.clearTimeout(id);
        }
    }).catch(error => {
        console.log(error);
    });
}


</script>
{% endblock %}