<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' >
        <title>SNS</title>
        <style>body {padding-top : 80px}</style>
    </head>
    <body>

        <nav class='navbar navbar-expand-sm navbar-dark bg-dark fixed-top'>
            <a class='navbar-brand' href='{% url "sns:index" %}'>SNS</a>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="navbar-item">
                        <a href='{% url "accounts:user" user.id %}'>
                            <span class="navbar-text">{{ user }} -</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url "logout" %}' class="logout nav-link">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href='{% url "login" %}' class="login nav-link">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url "accounts:signup" %}' class="signup nav-link">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        
        <div class='container'>
            {% block content %}
            {% endblock %}
        </div>

        <div>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
            {% block extrajs %}
            {% endblock %}
        </div>

        <div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                {% block extraajax %}
                {% endblock %}
            </script>
        </div>



    </body>
</html>