<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/card.css' %}">
        <link rel="stylesheet" href="{% static 'css/collapse.css' %}">
        <title>SNS</title>
        <style>body {padding-top : 80px}</style>
    </head>
    <body>
    <style>
        .w-40px{
            width: 40px !important;
            height: 40px !important;
        }
    </style>

    {% block extra_style %}
    {% endblock %}
        <nav class='navbar navbar-expand-sm navbar-dark bg-dark fixed-top'>
            <a class='navbar-brand' href='{% url "sns:index" %}'>SNS</a>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="navbar-item">
                        <a href='{% url "accounts:user" user.id %}'>
                            <span class="navbar-text">{{ user }} -</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url "logout" %}' class="logout nav-link">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href='{% url "login" %}' class="login nav-link">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url "accounts:signup" %}' class="signup nav-link">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        
        <div class='container-fluid'>
            <div class="row">
                <div class="col-1">
                    <div style="position: sticky; top: 75px;">
                            <button class="btn btn-primary rounded-circle p-0 w-40px float-right"
                                 onClick="location.href='{% url 'sns:index' %}'">
                                <i class="fa-solid fa-house"></i>
                            </button>
                            <br>
                            <br>
                            {% if user.is_anonymous %}
                                <button class="btn btn-primary rounded-circle p-0 w-40px float-right" 
                                    onClick="location.href='/accounts/login'">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                            {% else %}
                                <button class="btn btn-primary rounded-circle p-0 w-40px float-right" 
                                    onClick="location.href='{% url 'accounts:user' user.id %}'">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                            {% endif %}
                    </div>
                </div>
                <div class="col-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
            {% block extrajs %}
            {% endblock %}
        </div>



        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                {% block extra_ajax %}
                {% endblock %}
            </script>
        </div>
    </body>
</html>