<div>
{% comment %} postin:投稿群 good_mode:複数タブがある場合 other_good:複数タブがある場合、ほかのやつ {% endcomment %}
{% for postin in posts_include reversed %}
    {% if post.author in blocks or post.author in blocked or post.author in mutes%}
    {% else %}
        <div class="card w-150px mx-auto clearfix" style="position:relative;">
            <a href="{% url 'sns:post' postin.pk %}" style="position:absolute;inset:0;">
                {% comment %} カードヘッダ {% endcomment %}
                <div class="card-header bg-secondary h-50px clearfix" style="display:flex; justify-content:center;postition:relative;">
                    <h5 style="position:absolute; left:1rem;">
                        <a href="{% url 'accounts:user' postin.author.id %}" class="on-a title-link">
                            {{ postin.author }}
                        </a>
                    </h5>
                    <h5 style="text-align:center; display:table-cell;">
                        <a href="{% url 'sns:post' postin.id %}" class="on-a title-link">
                            {% if postin.mode != 1 %}
                                {{ postin.title | truncatechars:20 }}
                            {% endif %}
                        </a>
                    </h5>
                    <p style="position:absolute; right:1rem; color:white">
                        {{ postin.created_at }}
                    </p>
                </div>

                {% comment %} カードボディ {% endcomment %}
                <div class="card-body detail clearfix">
                    <p class="card-text">
                        {{ postin.detail|linebreaks }}
                    </p>
                </div>

                {% comment %} カードフッタ {% endcomment %}
                <div class="card-footer h-50px text-right clearfix">
                    <div>
                        {% if user.is_anonymous %}
                            <button onClick="location.href='{% url 'sns:good' postin.id 1 %}'" class="good on-a">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                        {% else %}
                            <button onClick="on_good('{{ postin.id }}', '{{ othergood }}')" class="good on-a">
                                <div id="{{ postin.id }}_{{ good_mode }}" style="display:inline;">
                                    {% if postin.id in goods %}
                                        <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </div>
                            </button>
                        {% endif %}
                        <a href="{% url 'sns:good_user' postin.id %}" class="notlink on-a">
                            <div id="num_{{ postin.id }}_{{ good_mode }}" style="display:inline;size:4;">:{{ postin.good_num }}イイね</div> 
                        </a>
                    </div>
                </div>
            </a>
        </div>
        <br>
    {% endif %}
{% empty %}
{% endfor %}
{% include 'js/on_good_js.html' %}
</div>