<div>
{% load custom_filter %}
{% comment %} postin:投稿群 good_mode:複数タブがある場合 other_good:複数タブがある場合、ほかのやつ {% endcomment %}
{% for postin in posts_include reversed %}
    {% if postin.author in blocks or postin.author in blocked or postin.author in mutes%}
    {% else %}
        {% with postcard=postin %}
            {% include 'post_card_include.html' %}
        {% endwith %}

        {% comment %} コメント表示 {% endcomment %}
        {% with commentnum=comment_num|get_value:postin.id %}
            {% if commentnum > 0 %}
                <div style="text-align:center;">|</div>
                <div style="text-align:center;">|</div>
                <div style="text-align:center;">|</div>
                {% with postcard=top_comment|get_value:postin.id %}
                    {% include 'post_card_include.html' %}
                {% endwith %}
            {% endif %}
        {% endwith %}
        <br>
        <br>
        <br>
    {% endif %}
{% empty %}
{% endfor %}
</div>