{% extends 'base.html' %}
{% block extra_style %}
<style>
    .detail {
        padding-left:1rem;
    }
    .notlink{
        text-decoration:none !important;
        color:black !important;
    }
</style>
{% endblock %}

{% block content %}

    <div>
        <h3>イイねしたユーザー</h3>
        <hr width="100%" color="black">
        <br>
        {% for gooder in gooders %}
        <a href="{% url 'accounts:user' gooder.id %}" class="notlink">
            <h6 class="detail">{{ gooder.username }} -- @{{ gooder.usertag}}</h6>
        </a>
        {% endfor %}
    </div>

{% endblock %}