{% extends 'base.html' %}

{% block content %}
    <style>
        button {
            background: none;
            border : none;
            outline: none;
            box-shadow:none;
        }
    </style>

    <h1>{{ post.title }}</h1>
    -
    <a href='{% url "accounts:user" post.author.id %}'>
        {{ post.author }}
    </a>
    <div>
        {{ post.created_at }}<br><br>
        {{ post.detail }}
    </div>
    <p style="margin-left:150px">
        <button type="button" id="ajax-good">
            <div id="result">
                {% if goods %}
                    <font color="red" size="5">♥</font>
                {% else %}
                    <font size="5">♡</font>
                {% endif %}
            </div>
        </button>
         : <span id="num">{{ post.good_num }}</span> イイね
    </p>
    <br>
    <br>
    {% if request.user.id == object.author_id %}
        <div>
            <a href='{% url "sns:update" post.pk %}'>編集</a>|
            <a href='{% url "sns:delete" post.pk %}'>削除</a>
        </div>
    {% endif %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
document.getElementById('ajax-good').addEventListener('click', e => {
    e.preventDefault();
    const url = '{% url "sns:ajaxgood" %}';
    fetch(url, {
        method: 'POST',
        body: 'post_id={{ post.id }}',
        headers:{
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': '{{ csrf_token }}',
        },
    }).then(response  => {
        return response.json();
    }).then(response => {
        document.getElementById('num').textContent = response.num;
        if(response.method == "create"){
            document.getElementById('result').innerHTML = '<font color="red" size="5">♥</font>'
        }else{
            document.getElementById('result').innerHTML = '<font size="5">♡</font>';
        }
    }).catch(error => {
        console.log(error);
    });
});
</script>
{% endblock %}
