{% extends 'base.html' %}

{% block extra_style %}
<style>
    .detail {
        margin-left:1rem;
    }
    .title-link, .title-link:hover{
        color:white;
    }
    .good, .good:focus, .good:hover {
        border: none;
        outline: none;
        background: none;
        display: inline;
    }
    .w-60px {
            width: 60px !important;
    }
    .w-150px {
        width: 95% !important;
    }
    .h-50px{
        height: 50px !important;
    }
    .h-60px {
        height: 60px !important;
    }
    .on-a{
        position: relative;
        z-index: 1;
    }
    .tab-hov:hover{
        background: #ddd;
    }
    .nav-pills .nav-link.active{
        background-color: #ccf;
        color: black;
    }
    .notlink{
        text-decoration:none !important;
        color:black !important;
    }
</style>
{% endblock %}

{% block content %}
<h1>タイムライン</h1><br>
<div class="row-1" style="position: sticky;top: 55px;z-index:2;background-color:#fff;">
    <br>
    <ul class="nav nav-tabs nav-fill nav-pills" role="tablist">
        <li class="nav-item tab-hov">
            <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">全体</a>
        </li>
        <li class="nav-item tab-hov">
            <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">フォロー中</a>
        </li>
    </ul>
    <hr size="10" width="100%" color="black">
    <br>
</div>
<div class="tab-content">
    <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
        {% for post in object_list reversed %}
            <h6>
                <a href='{% url "accounts:user" post.author.pk%}'>
                    {{ post.author }}
                </a>
            </h6>
            <div class="card w-150px center-block mx-auto" style="position:relative;">
                <a href="{% url 'sns:post' post.pk %}" style="position:absolute;inset:0;">
                    <div class="card-header bg-secondary h-50px">
                        <h5 style="text-align:left;float:left;">
                            <a href='{% url "sns:post" post.pk %}' class="on-a title-link">
                                {{ post.title }} 
                            </a>
                        </h5>
                        <p style="text-align:right">
                            <font color="white">
                                {{ post.created_at }}
                            </font>
                        </p>
                    </div>
                    <div class="card-body detail">
                        <p class="card-text">
                            {{ post.detail | linebreaks }}
                        </p>
                    </div>
                    <div class="card-footer h-50px text-right">
                        {% if request.user.is_anonymous %}
                            <button onClick="location.href='{% url 'sns:good' post.id 1 %}'" class="good on-a">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                        {% else %}
                            <button onClick="on_good('{{ post.id }}')" class="good on-a" >
                                <div id="{{ post.id }}" style="display:inline;">
                                    {% if post.id in goods %}
                                        <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </div>
                            </button>
                        {% endif %}
                        <font size="4">
                            <a href="{% url 'sns:good_user' post.id %}" class="notlink on-a">
                                <div id="num_{{ post.id }}" style="display:inline;">:{{ post.good_num }}イイね</div> 
                            </a>
                        </font>
                    </div>
                </a>
            </div>
            <br>
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        {% if user.is_anonymous %}
            <br>
            <div style="text-align:center;">
                <h4 >
                    ログインしてSNSをより楽しみましょう！
                </h4>
                <br>
                <button class="btn btn-primary mx-auto" onClick="location.href='/accounts/login/'"
                    style="text-align:center; width: 130px !important; height: 40px !important;">ログイン</button>
                <br>
                <br>
                <br>
                <a href="{% url 'accounts:signup' %}">
                    またはアカウントを作成
                </a>
            </div>
        {% else %}
            {% for post in object_list reversed %}
                {% if post.author in following  or post.author == user %}
                    <h6>
                        <a href='{% url "accounts:user" post.author.pk%}'>
                            {{ post.author }}
                        </a>
                    </h6>
                    <div class="card w-150px center-block" style="position:relative;">
                        <a href="{% url 'sns:post' post.pk %}" style="position:absolute;inset:0;">
                            <div class="card-header bg-secondary h-50px">
                                <h5 style="text-align:left;float:left;">
                                    <a href='{% url "sns:post" post.pk %}' class="on-a title-link">
                                        {{ post.title }} 
                                    </a>
                                </h5>
                                <p style="text-align:right">
                                    <font color="white">
                                        {{ post.created_at }}
                                    </font>
                                </p>
                            </div>
                            <div class="card-body detail">
                                <p class="card-text">
                                    {{ post.detail | linebreaks }}
                                </p>
                            </div>
                            <div class="card-footer h-50px text-right">
                                {% if request.user.is_anonymous %}
                                    <button onClick="location.href='{% url 'sns:good' post.id 1 %}'" class="good on-a">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                {% else %}
                                    <button onClick="on_good('{{ post.id }}')" class="good on-a" >
                                        <div id="{{ post.id }}" style="display:inline;">
                                            {% if post.id in goods %}
                                                <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                            {% else %}
                                                <i class="fa-regular fa-heart"></i>
                                            {% endif %}
                                        </div>
                                    </button>
                                {% endif %}
                                <font size="4">
                                    <a href="{% url 'sns:good_user' post.id %}" class="notlink on-a">
                                        <div id="num_{{ post.id }}" style="display:inline;">:{{ post.good_num }}
                                            イイね
                                        </div> 
                                    </a>
                                </font>
                            </div>
                        </a>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>




<br>
{% if user.is_authenticated %}
    <div style="position: fixed;bottom: 100px;right: 100px">
        <button onClick="location.href='{% url 'sns:create' %}'" type="button" 
        class="btn btn-primary rounded-circle p-0 w-60px h-60px"><font size="6px">+</font></button>
    </div>
{% endif %}
<br>
<br>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">

let id;

function on_good(post_id){
    console.log(post_id);
    const url = '{% url "sns:ajaxgood" %}';
    fetch(url, {
        method: 'POST',
        body: 'post_id=' + String(post_id),
        headers:{
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': '{{ csrf_token }}',
        },
    }).then(response  => {
        return response.json();
    }).then(response => {
        document.getElementById('num_' + String(post_id)).textContent = ":" + String(response.num) + "イイね";
        
        if(response.method == "create"){
            document.getElementById(String(post_id)).innerHTML = '<i class="fa-solid fa-heart fa-beat" style="color: #ff0000;"></i>';
            id = window.setTimeout(function(){
                document.getElementById(String(post_id)).innerHTML = '<i class="fa-solid fa-heart" style="color: #ff0000;"></i>';
            }, 1000);
        }else{
            document.getElementById(String(post_id)).innerHTML = '<i class="fa-solid fa-heart"></i>';
            window.clearTimeout(id);
        }
    }).catch(error => {
        console.log(error);
    });
}


</script>
{% endblock %}