{% extends 'base.html' %}

{% block content %}
<style>
    p {
        margin-left:1rem;
    }
    button {
        background: none;
        border : none;
        outline: none;
        box-shadow:none;
    }
</style>
<h1>タイムライン</h1><br><br>
<div>
    {% load static %}
    {% for post in object_list reversed %}
        <a href='{% url "accounts:user" post.author.pk%}'>
            {{ post.author }}
        </a>-
        <a href='{% url "sns:post" post.pk %}'>
            {{ post.title }} 
        </a>-
            {{ post.created_at }}
        <br>
        <p>
            {{ post.detail }}
        </p>
        <p style="margin-left:150px">
            <button onclick="location.href='{% url 'sns:good' post.id 1 %}'">
                {% if post in goods %}
                    <font color="red" size="5">♥</font>
                {% else %}
                    <font size="5">♡</font>
                {% endif %}
            </button>
             : {{ post.good_num }} イイね
            <hr size="30" color="red" width="50%" align="left">
        </p>
    {% endfor %}
</div>
<br>
{% if user.is_authenticated %}
    <div>
        <a href='{% url "sns:create" %}'>投稿する</a>
    </div>
{% endif %}
<br>
<br>

{% endblock %}

