{% extends 'base.html' %}

{% block content %}
    <style>
        button {
            background: none;
            border : none;
            outline: none;
            box-shadow:none;
        }
    </style>

    <h1>{{ post.title }}</h1>
    -
    <a href='{% url "accounts:user" post.author.id %}'>
        {{ post.author }}
    </a>
    <div>
        {{ post.created_at }}<br><br>
        {{ post.detail }}
    </div>
    <p style="margin-left:150px">
        <button onclick="location.href='{% url 'sns:good' post.id 0 %}'">
            {% if goods %}
                <font color="red" size="5">♥</font>
            {% else %}
                <font size="5">♡</font>
            {% endif %}
        </button>
         : {{ post.good_num }} イイね
    </p>
    <br>
    <br>
    {% if request.user.id == object.author_id %}
        <div>
            <a href='{% url "sns:update" post.pk %}'>編集</a>|
            <a href='{% url "sns:delete" post.pk %}'>削除</a>
        </div>
    {% endif %}

{% endblock %}