{% extends 'base.html' %}

{% block extra_style %}
    <style>
    .good, .good:focus, .good:hover {
        border: none;
        outline: none;
        background: none;
    }
    .w-125px {
            width: 125px !important;
        }
    .h-34px {
        height: 34px !important;
    }
    .notlink{
        text-decoration:none !important;
        color:black !important;
    }
    </style>
{% endblock %}

{% block content %}
<div>
    <h1>{{ post.title }}</h1>
    -
    <a href='{% url "accounts:user" post.author.id %}'>
        {{ post.author }}
    </a>
    <div>
        {{ post.created_at }}<br><br>
        {{ post.detail | linebreaks }}
    </div>
    <p style="margin-left:150px">
        {% if request.user.is_anonymous %}
            <button onClick="location.href='{% url 'sns:good' post.id 0 %}'" class="good">
                <i class="fa-regular fa-heart"></i>
            </button>
        {% else %}
            <button id="ajax-good" class="good">
                <div class="result">
                    {% if goods %}
                        <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart"></i>
                    {% endif %}
                </div>
            </button>
        {% endif %}
        <a href="{% url 'sns:good_user' post.id %}" class="notlink">
        : <span class="num">{{ post.good_num }}</span> イイね
        </a>
    </p>
    <br>
    <br>
    {% if request.user.id == object.author_id %}
        <div>
            <button onClick="location.href='{% url 'sns:update' post.pk %}'" class="btn btn-success rounded-pill w-125px h-34px">編集</button>
            <button onClick="location.href='{% url 'sns:delete' post.pk %}'" class="btn btn-danger rounded-pill w-125px h-34px">削除</button>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_ajax %}
    let id;
    $('#ajax-good').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            'url': '{% url "sns:ajaxgood" %}',
            'type': 'POST',
            'data': {
                'post_id': '{{ post.id }}',
            },
            'dataType': 'json'
        })
        .done(function(response){
            if (response.method == "create"){
                $('.result').html('<i class="fa-solid fa-heart fa-beat" style="color: #ff0000;"></i>');
                id = setTimeout(function(){
                    $('.result').html('<i class="fa-solid fa-heart" style="color: #ff0000;"></i>');
                }, 1000)
            }else{
                $('.result').html('<i class="fa-regular fa-heart"></i>');
                clearTimeout(id)
            }
            $('.num').html(response.num);
        });
    });
{% endblock %}