{% extends 'base.html' %}

{% block content %}
<style>
    p {
        margin-left:1rem;
    }
    button {
        background: none;
        border : none;
        outline: none;
        box-shadow:none;
    }
</style>
<h1>タイムライン</h1><br><br>
{{ request.user }}
<div>
    {% load static %}
    {% for post in object_list reversed %}
        <a href='{% url "accounts:user" post.author.pk%}'>
            {{ post.author }}
        </a>-
        <a href='{% url "sns:post" post.pk %}'>
            {{ post.title }} 
        </a>-
            {{ post.created_at }}
        <br>
        <p>
            {{ post.detail }}
        </p>
        <p style="margin-left:150px">
        {% if request.user.is_anonymous %}
            <button onClick="location.href='{% url 'sns:good' post.id 1 %}'">♡</button>
        {% else %}
            <button onClick="on_good('{{ post.id }}')">
                <div id="{{ post.id }}">
                    {% if logined and post.id in goods %}
                        <font color="red" size="5">♥</font>
                    {% else %}
                        <font size="5">♡</font>
                    {% endif %}
                </div>
            </button>
        {% endif %}
        : <span id="num_{{ post.id }}">{{ post.good_num }}</span> イイね
        <hr size="30" color="red" width="50%" align="left">
        </p>
    {% endfor %}
</div>
<br>
{% if user.is_authenticated %}
    <div>
        <a href='{% url "sns:create" %}'>投稿する</a>
    </div>
{% endif %}
<br>
<br>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">

function on_good(post_id){
    console.log(post_id);
    const url = '{% url "sns:ajaxgood" %}';
    fetch(url, {
        method: 'POST',
        body: 'post_id=' + String(post_id),
        headers:{
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': '{{ csrf_token }}',
        },
    }).then(response  => {
        return response.json();
    }).then(response => {
        document.getElementById('num_' + String(post_id)).textContent = response.num;
        if(response.method == "create"){
            document.getElementById(String(post_id)).innerHTML = '<font color="red" size="5">♥</font>'
        }else{
            document.getElementById(String(post_id)).innerHTML = '<font size="5">♡</font>';
        }
    }).catch(error => {
        console.log(error);
    });
}

</script>
{% endblock %}